/WebCommunicationClientImpl.class
/WebCommunicationContextImpl.class
/WebCommunicationInjector.class
/WebCommunicationProviderImpl.class
/WebCommunicationServletContainerInitializer.class
/WebCommunicationServletContextListener.class
