/ConnectionManagerImpl.class
/ConnectionMetaDataImpl.class
/ConnectionRequestInfoImpl.class
/JavaMailConnectionEventListener.class
/JavaMailConnectionFactoryImpl.class
/JavaMailConnectionImpl.class
/MailServerStore.class
/ManagedConnectionFactoryImpl.class
/ManagedConnectionImpl.class
/ManagedConnectionMetaDataImpl.class
/Util.class
