<!DOCTYPE html>
<html lang="en" ng-app>
<head>
	<title>Angular Data Binding</title>
	<link href="../libraries/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" >
	<link href="main.css" rel="stylesheet">
</head>
<body>
<div class="container" ng-init="title='Angular'; awesome=true;">
	<h1>{{ title }} is Awesome: {{awesome}}</h1>

	<input  type="text" 
			class="form-control"
			ng-model="title"/>
	<input  type="checkbox" 
			class="form-control"
			ng-model="awesome"/>

</div>

<script src="../libraries/angular/angular.min.js""></script>
</body>
</html>