/WebCommunicationCdiExtension$WebCommunicationContextBean.class
/WebCommunicationCdiExtension$WebHandlerContextAnnotationLiteral.class
/WebCommunicationCdiExtension.class
/WebCommunicationProvider.class
