/AbstractManager.class
/AuthManager.class
/DashboardManager.class
/FeatureManager.class
/ManagerException.class
/ProjectList.class
/ProjectManager.class
/SkinManager.class
/SkinManagerVDLFactory$VDL.class
/SkinManagerVDLFactory.class
/SkinUrlManager.class
/SkinValuesManager$ColorTuple.class
/SkinValuesManager.class
/SprintList.class
/SprintManagerImpl.class
/StoryList.class
/StoryManagerImpl.class
/TaskList.class
/TaskManager.class
