/AuctionMessage$AuctionListResponseMessage.class
/AuctionMessage$AuctionTimeBroadcastMessage.class
/AuctionMessage$LoginResponseMessage.class
/AuctionMessage$PriceUpdateResponseMessage.class
/AuctionMessage$ResultMessage.class
/AuctionMessage.class
